<div class="audio-player">

	<h3 class="audio-player-header" id="track-name">Track Name</h3>

	<div class="audio-functions">

		<a class="buy-cta"></a>

		<section id="song">  

		</section>

	</div>

</div>