<div class="content">

	<div class="content-box">

		<div class="main-content-column">
		
			<div class="content-frame">

				<div class="content-panel">

					<div class="home-profile-header">

						<div class="home-profile-image">

							<%= image_tag current_user.image.url(:medium) %>

						</div>

						<div class="home-profile-text">

							<h3><%= current_user.display_name %></h3>

							<h4>Producer</h4>

						</div>

					</div>

					<div class="time-period">

						<ul>

							<li><a class="active">Today</a></li>
							<li><a class="middle">This Week</a></li>
							<li><a>This Month</a></li>

						</ul>

					</div>

					<div class="metrics-summary">
						<h5>Listens:</h5>
						<h5>Favorites:</h5>
						<h5>Sales:</h5>
					</div>

				</div>

			</div>

			<h3>Requests for You</h3>

			<div class="content-frame">

				<div class="content-panel">

					<p>Requests for You</p>

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>Recent Activity</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<h4>Improve Your Account</h4>

			<div class="content-frame">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div>

	</div>

</div>