
<div class="content">

	<div class="content-box">

		<div class="main-content-column">
			
			<h3>Featured Producers</h3>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Maybe jsut a formatted twitter feed sdommmmmmmm  dsomdosmd sodmsodms  sdomsdomsodm</p>

				</div>

			</div>

			<h3>Most Popular</h3>

			<div class="content-frame">

				<div class="content-panel">

					Elise in the house

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>Newest Producers</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>