<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<h3>Requests for You</h3>
		
			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>Filter</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div>

	</div>

</div>