// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
	background-image: asset-url("seamless_paper_texture.png");
    color: #fff;
    box-shadow: 0px 0px 2px #000;
    position: fixed;
    z-index: 2000;


    a{
    	color: #fff;
    	text-shadow: 0px 1px 0px #000;
    	padding: 25px 25px;
    	line-height: 20px;
    	font-size: 16px;

        font-weight: 700;
        letter-spacing: 2px;

    }

    a.site-title{
    	padding: 10px 25px;
	    line-height: 50px;
	    font-size: 30px;
	    color: rgba(100,255,100,1);
	    text-shadow: 0px 3px 0px #000;
        letter-spacing: 2.5px;
        color: #FFA100;
    }

    a.site-title:hover{
        letter-spacing: 3px;
        color: #FFA100;
    }
}

.dashboard-header-container{
	position: fixed;
    z-index: 6000;
    top: 0px;
    box-shadow: 0px 2px 4px #111;
    border-bottom: 2px solid #FFA100;
    background: rgba(0,0,0,0.95);

    background: -moz-linear-gradient(top, #0f0f0f 50%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0f0f0f), color-stop(100%, #000));
    background: -webkit-linear-gradient(top, #0f0f0f 50%, #000 100%);
    background: -o-linear-gradient(top, #0f0f0f 50%, #000 100%);
    background: -ms-linear-gradient(top, #0f0f0f 50%, #000 100%);
    background: linear-gradient(to bottom, #0f0f0f 50%, #000 100%);


    

    .dashboard-header-cover{

    	background: rgba(0,0,0,.85);

    }
    
    a{
    	color: #ddd;
    	text-shadow: 0px 1px 0px #111;
    	padding: 15px;
    	line-height: 15px;
    	font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;

    }

    a.active{
        background: #6464c8;
                
    }

    li.site-title{
        width: 150px;
        text-align: center;
        
    }

    a.site-title{
        padding: 15px;
        letter-spacing: 2.5px;
        text-align: center;
        color: #FFA100;
        text-shadow: 0px 1px 0px #222;
        font-weight: 800;
        font-size: 20px;


    }

    a.site-title:hover{
        letter-spacing: 2.3px;
        color: #FFA100;
    }

    a:hover{
    	color: #FFA100;
        letter-spacing: 1.9px;
    	text-shadow: none;
    }
}


.header-container, .dashboard-header-container{

    width: 100%;

    div.header-center{

    	margin:0 auto;
    	width: 100%;
	
		ul{

			list-style-type: none;
	    	margin: 0;
	    	padding: 0;
	    	display: inline;


			li{

				display: inline-block !important;
		    	word-wrap: break-word !important;
		    	text-align: justify;

		    	a{
		    		display: block;
		    		text-decoration:none;

		    	}

		    	a.item{
    				
		    	}

		    	a.first-item{
		    		
		    	}


		    	a:hover{
		    		cursor: pointer;
                    color: #6A94D4;
		    		
		    	}

                a.balance-item{
                    color: #eee;
                }

                a.balance-item:hover{
                    
                    letter-spacing: 2px;
                    background:#666;
                }

                a.header-cta{
                    padding: 8px 20px;
                    margin: 6px 0px;

                    color: #fff;
                    text-shadow: 0px 1px 2px #222;
                    background-color: #0F4DA8;

                    background-image: -webkit-gradient(linear, left top, left bottom, from(#437DD4), to(#0F4DA8));
                    background-image: -webkit-linear-gradient(top, #437DD4, #0F4DA8);
                    background-image: -moz-linear-gradient(top, #437DD4, #0F4DA8);
                    background-image: -ms-linear-gradient(top, #437DD4, #0F4DA8);
                    background-image: -o-linear-gradient(top, #437DD4, #0F4DA8);
                    background-image: linear-gradient(top, #437DD4, #0F4DA8);

                    border: 1px solid rgba(0,0,0,0.5);

                    box-shadow: inset 0px 1px 3px 0px #ccc;

                    border-radius: 30px;
                }

                a.header-cta:hover{
                    color: #fff;
                }

			}

		}

		
		ul.header-left{

			
		}


		ul.header-right{

			float: right;
			display:inline-block;
            padding-right: 50px;
		}

	}
}

.header-container{

    div.header-center{

    	background: rgba(0, 0, 0, 0.95);

    }

}

.dashboard-header-container {

    div.header-center{

        
	
	}
}

