// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
	background-image: asset-url("seamless_paper_texture.png");
    color: #fff;
    box-shadow: 0px 0px 2px #000;
    position: fixed;
    z-index: 2000;


    a{
    	color: #fff;
    	text-shadow: 0px 1px 0px #000;
    	padding: 25px 25px;
    	line-height: 20px;
    	font-size: 16px;

    }

    a.site-title{
    	padding: 10px 25px;
	    line-height: 50px;
	    font-size: 36px;
	    font-style: italic;
	    color: rgba(100,255,100,1);
	    text-shadow: 0px 3px 0px #000;
    }
}

.dashboard-header-container{
	position: fixed;
    top: 70px;
    box-shadow: 0px 0px 4px #111;
    border-top: 1px solid rgba(100,100,200,1);
    border-bottom: 1px solid #111;
    background: rgba(0,0,0,0.95);
    z-index: 6000;

    .dashboard-header-cover{

    	background: rgba(0,0,0,.85);

    }
    
    a{
    	color: #ddd;
    	text-shadow: 0px 1px 0px #111;
    	padding: 15px;
    	line-height: 15px;
    	font-size: 15px;
    	margin-bottom: 3px;

    }

    a:hover{
    	border-bottom: 3px solid #64ff64;
    	text-shadow: none;
    	margin-bottom: 0px;
    }
}


.header-container, .dashboard-header-container{

    width: 100%;

    div.header-center{

    	margin:0 auto;
    	width: 100%;
	
		ul{

			list-style-type: none;
	    	margin: 0;
	    	padding: 0;
	    	display: inline;


			li{

				display: inline-block !important;
		    	word-wrap: break-word !important;
		    	text-align: justify;

		    	a{
		    		display: block;
		    		text-decoration:none;

		    	}

		    	a.item{
    				border-right: 1px solid #000;
		    	}

		    	a.first-item{
		    		border-left: 1px solid #000;
    				border-right: 1px solid #000;
		    	}

		    	a:hover{
		    		cursor: pointer;
		    		
		    	}

			}

		}

		
		ul.header-left{

			
		}


		ul.header-right{

			float: right;
			display:inline-block;
		}

	}
}

.header-container{

    div.header-center{

    	background: rgba(0, 0, 0, 0.95);

    }

}

.dashboard-header-container {

    div.header-center{

    	max-width: 1000px;
	
	}
}