// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-container{
	position: fixed;
	left:0;
	right:0;
	top:0px;
	bottom:0px;
	height:100%;
	width:100%;
    background: rgba(255, 185, 65, 0.7);
    display:none;
    vertical-overflow:hidden;
    z-index: 999999;

}

.modal-content{
	max-width:500px;
	width:100%;
	margin:0 auto;
	z-index: 100;
	background: #000;
	top:100px;
	position:relative;

    box-shadow: inset 0px 2px 5px #333;
    border-radius: 5px;
    border: 1px solid #000;

    h3{
   
        color:#eee;
        background: #333;
        padding: 10px 15px;
        border-radius: 5px 5px 0px 0px;
        text-align:center;
        font-weight: 400;
        text-shadow: 0px 2px 0px #000;
        font-size: 30px;

    }

    form{
        padding: 20px;
    }


}

span.dismiss-modal{
    border: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    top: -40px;
    font-size: 36px;
    font-weight: 400;
    color: #ccc;
    margin-top: 30px;
    text-shadow: 0px 2px 1px #000;
}

span.dismiss-modal:hover{
    cursor:pointer;
    text-decoration:none;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}


.horizontal-sub-nav{

    z-index: 109999;

    ul{

        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-table;
        width: 100%;


        li{

            display: table-cell;
            text-align: center;
            width:196px;

            a{

                display: block;
                padding: 10px 0px;
                box-shadow: inset 0px 2px 3px #333;
                box-shadow: 0px 2px 2px #000;
                background: #222;
                border-top: 2px solid #111;

            }

            a.middle{
                border-left: 2px solid #111;
                border-right: 2px solid #111;
            }

            a.active, a.active:hover{

                background: #000;
                color: #FFB840;
                font-weight: 600;
                border-top: 2px solid #FFB840;
                box-shadow: none;
                border-bottom: none;
                cursor: default;


            }

            a:hover{

                cursor: pointer;
                box-shadow: none;
                background: #111;
                border-bottom: none;


            }


        }

    }
}

form#payments{
    display: none;
}
