<div class="header-container">

	<div class="header-center">

		<ul class="header-left">

			<li><%= link_to "GOLDPRISM", root_path, class: "site-title" %></li>

		</ul>

		<ul class="header-right">
			
			<li><a class="login-modal-cta">Login</a></li>
			<li><a class="join-modal-cta">Join</a></li>

		</ul>

	</div>
	
</div>