<div class="sidebar-container">

	<div class="sidebar-content">

		<ul class="sidebar-options">

			<li><a class="sidebar-item <% if @page == "home" %> active <%end%>" href="<%= root_path %>"><span><img></img><br>Home</span></a></li>

			<li><a class="sidebar-item <% if @page == "profile" %> active <%end%>" href="<%= profile_page_path(current_user.display_name)%>"><span><img></img><br>My Profile</span></a></li>

			<li><a class="sidebar-item <% if @page == "requests" %> active <%end%>" href="<%= requests_path %>"><span><img></img><br>Requests</span></a></li>

			<li><a class="sidebar-item <% if @page == "balance" %> active <%end%>" href="<%# balance_path%>"><span><img></img></span><br>Balance: <span class="money-green-span">$20.00</span></a></li>

			<!-- <li><%# link_to "Logout", destroy_user_session_path, method: :delete %></li> -->


		</ul>

	</div>
	
</div>