<div class="sidebar-container">

	<div class="sidebar-content">

		<ul class="sidebar-options">

			<li><%= link_to "GOLDPRISM", root_path, class: "sidebar-title" %></li>

			<li><a class="sidebar-item"><span><img></img><br>Home</span></a></li>

			<li><a class="sidebar-item"><span><img></img><br>My Profile</span></a></li>

			<li><a class="sidebar-item"><span><img></img><br>Payments</span></a></li>

			<li><a class="sidebar-item"><span><img></img><br>Account Settings</span></a></li>

			<ul>

				<li><a>About</a></li>
				<li><a>Terms</a></li>
				<li><a>Affiliates</a></li>
			</ul>

		</ul>

	</div>
	
</div>