<div class="dashboard-header-container">

	<div class="header-center">

		<ul class="header-left">

			<li class="site-title"><%= link_to "GOLDPRISM", root_path, class: "site-title" %></li>

			<li><%= link_to "Action 1", root_path, class: "first-item" %></li>

			<li><%= link_to "Action 2", root_path, class: "item" %></li>

		</ul>

	</div>

</div>